<!DOCTYPE html>
<html>
<head>
  <title>JsConnect</title>
  <%= stylesheet_link_tag    "js_connect/application" %>
  <%= javascript_include_tag "js_connect/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
